<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace 接口全路径-->
<mapper namespace="com.atguigu.gmall.manage.mapper.SpuSaleAttrMapper">
    <resultMap id="spuSaleAttrMap" type="com.atguigu.gmall.bean.SpuSaleAttr" autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.bean.SpuSaleAttrValue" autoMapping="true">
            <!--id 相同则起别名 -->
            <id property="id" column="sale_attr_value_id"></id>
        </collection>
    </resultMap>

    <select id="selectSpuSaleAttrList" resultMap="spuSaleAttrMap">
        select sa.id ,sa.spu_id, sa.sale_attr_name,sa.sale_attr_id,
        sv.id sale_attr_value_id,
        sv.sale_attr_value_name
        from spu_sale_attr sa inner join spu_sale_attr_value  sv
        on  sa.spu_id=sv.spu_id and sa.sale_attr_id=sv.sale_attr_id
        where  sa.spu_id=#{0}
    </select>

    <select id="selectSpuSaleAttrListCheckBySku" resultMap="spuSaleAttrMap">
        SELECT ssa.id, ssa.spu_id, ssa.sale_attr_name, ssa.sale_attr_id,
        ssav.id sale_attr_value_id, ssav.sale_attr_value_name,
        sv.sku_id, if(sku_id is null,0,1) as ischecked
        from spu_sale_attr ssa inner join spu_sale_attr_value ssav on ssa.sale_attr_id=ssav.sale_attr_id and ssa.spu_id=ssav.spu_id
        left join sku_sale_attr_value sv on sv.sale_attr_id=ssa.sale_attr_id and sv.sale_attr_value_id=ssav.id and sv.sku_id=#{arg0}
        where ssa.spu_id=#{arg1}
        ORDER BY ssav.sale_attr_id,ssav.id

    </select>
</mapper>